.category {
  border : 1px;
  border-radius : 4px; 
  display : inline-block;
  margin-bottom : 5px;
  padding : 5px; 
}
.category.selected {
  border : 1px solid #e1e1e8;
}
#chatbox-container {
  padding-bottom : 0px;
}
#chatbox {
  max-height: 70%;
  overflow:auto ;
  word-wrap: break-word;
}
.category .nav li {
   border-radius : 4px;
}
.category .nav li.selected {
  background-color : #f5f5f5;
}
#chatbox {
  display : inline-block;
  float : left;
  /*font-family : monospace;*/
  width : 79%;
}
#users {
  display : inline-block; 
  float : right; 
  width : 20%;
  padding-top : 10px;
  padding-bottom : 5px;
}
.gravatar {
  border-radius: 4px;
  margin-top: 5px;
}
.gravatar-label {
  width: 12px;
}
.gravatar-brand {
  border-radius: 4px;
  width: 18px;
  margin-right: 5px;
}
.message {
  line-height: 1.5;
}
.message .label-primary {
  line-height: 2.0;
}
#input {
  margin-top : 5px;
  margin-bottom : 3px;
}
li.dropdown.media {
  overflow: visible;
}